<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" -->
        <!-- integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
    <title>Notey</title>
</head>

<body style="background-color: lightgrey">
    <div class="jumbotron jumbotron-fluid" style="background-color: lightgrey">
        <div class="container">
            <h1 class="display-4">Notey</h1>
            <a href="/new" class="btn btn-success float-right">New Note</a>
        </div>
    </div>
    <div class="container">
        <% notes.forEach(note => { %>
        <div class="card mt-2">
            <div class="card-body" style="background-color: lightgrey; border-color: lightgrey">
                <h5 class="card-title"><%= note.title %></h5>
                <h5 class="card-title"><%= note.description %></h5>
                <p class="text-muted">Posted On: <%= note.createdAt.toLocaleDateString() %></p>
            </div>
        </div>
        <form action="/notes/<%= note.id %>" method="POST">
            <input type="hidden" name="_method" value="UPDATE"> 
            <input type="hidden" name="_token" value="the_token">
            <button type="submit" class="btn" onclick="if (!confirm('Would you like to edit your note?')) { return false }"><span>Edit</span></button>
        </form>

        <form method="POST" action="/notes/<%= note.id %>?_method=DELETE">
            <button type="submit"  class="btn" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
        </form>
        <%}) %>
    </div>
</body>

</html>